input[type="submit"]{
  font-weight: bold;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

input[type="user"]{
  width: 100%;
  width: 200px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid #757575;
}

input[type="password"]{
  width: 100%;
  width: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #757575;
}

label[class*="label"]{
  border-left: 2px red;
  padding-left: 5px;
}

*{
  box-sizing: border-box;
}
.primeira-div, .segunda-div{
  border: 4px solid red;
  background: #b5b3b3;
  padding: 20px;
  margin: 20px;
  width: 600px;
}

.segunda-div{
  margin-top: 40px;
}

span{
  border: 3px solid red;
}